<mat-card>
  <mat-card-title>
    Customer Item
  </mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <mat-form-field>
          <input type="text" matInput formControlName="firstName" name="FirstName" placeholder="FirstName" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="lastName" placeholder="LastName" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="businessName" placeholder="Business Name" />
        </mat-form-field>
        <mat-form-field>
          <input type="tel" matInput formControlName="phone" placeholder="Phone Number" />
        </mat-form-field>
        <mat-form-field>
          <input type="email" matInput formControlName="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field>
          <input type="url" matInput formControlName="website" placeholder="Website" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="street" placeholder="Street" />
        </mat-form-field>
        <mat-form-field>

          <input type="text" matInput formControlName="city" placeholder="City" />
        </mat-form-field>
        <mat-form-field>

          <input type="text" matInput formControlName="state" placeholder="State" />
        </mat-form-field>
        <mat-form-field>

          <input type="number" matInput formControlName="zip" placeholder="ZIP Code" />
        </mat-form-field>
        <mat-form-field>

          <input type="text" matInput formControlName="country" placeholder="Country" />
        </mat-form-field>
        <mat-card-actions>
          <button type="submit" mat-button color="primary" [disabled]="!formGroup.valid">Save</button>
          <a mat-button routerLink="/customers">Return</a>
        </mat-card-actions>
      </form>
    </div>
  </mat-card-content>
</mat-card>

