<mat-card style="height:100%">
  <mat-card-title>
    Venues  
  </mat-card-title>
  <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon> Add New</button>
  <table mat-table [dataSource]="venues" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      <!--<td mat-cell *matCellDef="let element"><a routerLink="/venues/{{element.id}}">Detail</a></td>-->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let element"><a routerLink="/venues/{{element.id}}">Detail</a></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>


