<mat-card>
  <mat-card-title>
    Events
  </mat-card-title>
  <mat-toolbar>
    <button mat-raised-button (click)="addNew()"><mat-icon>add</mat-icon> Add New</button>
  </mat-toolbar>
  <mat-progress-bar mode="query" *ngIf="isWaiting"></mat-progress-bar>
  <table mat-table [dataSource]="events" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Event Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>
    <!-- End Date Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef> CustomerId </th>
      <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>
    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let element"><a routerLink="/events/{{element.id}}">Detail</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>


