<mat-card style="height:100%">
  <mat-card-title>
    <span>{{venue.name}}</span>
  </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #venueForm="ngForm">
        <input type="hidden" [(ngModel)]="venue.id" name="id" />
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="name" required [(ngModel)]="venue.name" name="name" placeholder="Venue Name" />
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="description" [(ngModel)]="venue.description" name="description" placeholder="Venue Description" />
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="website" [(ngModel)]="venue.website" name="website" placeholder="Website"/>
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="phone" [(ngModel)]="venue.phone" name="phone" placeholder="Phone Number"/>
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="email" [(ngModel)]="venue.email" name="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="street" [(ngModel)]="venue.street" name="street" placeholder="Street"/>
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="city" [(ngModel)]="venue.city" name="city" placeholder="City"/>
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="state" [(ngModel)]="venue.state" name="state" placeholder="State"/>
        </mat-form-field>
        <mat-form-field class="input-spacing">

          <input type="text" matInput id="zip" [(ngModel)]="venue.zip" name="zip" placeholder="ZIP Code"/>
        </mat-form-field>
        <p>
          <button type="submit" mat-stroked-button color="primary" [disabled]="!venueForm.form.valid">Save</button>
        </p>
      </form>
    </mat-card-content>
</mat-card>
